.title {
  font-size: 1.1rem;
}

.text_label {
  min-width: 4rem;
  margin-right: 0.5rem;
}

.input {
  height: 1.75rem;
  width: 100%;
  margin: 0.25rem 0;
}

.text {
  margin: 0;
  font-size: 0.9rem;
  color: red;
}

.footer {
  justify-content: flex-start;
}
