@import "../../../scss/variables";
@import "../../../scss/mixin";

.container {
  max-width: 28rem;
  min-height: 10rem;
  margin: 2.5rem auto;
  margin-top: 0;
  box-shadow: $card-box-shadow-bottom;
  border-radius: 0.5rem;
  border: 1px solid $primary-default-border;
}

.body_container {
  @include flex_center;
  flex-direction: column;
  color: $font-color-gray;
}

.title {
  @include flex_center;
  margin: 0;
  font-size: 1.1rem;
}

.userInfo {
  @include flex_center;
  padding: 0.3rem;
  padding-top: 1rem;
  margin: 0;
  font-size: 0.95rem;
}

.subtitle_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
  min-width: 2.5rem;
  min-height: 1.75rem;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: $primary-default-btn-background;
  box-shadow: $btn-box-shadow;
  color: $font-color-gray;
  text-decoration: none;
  &:hover {
    color: $font-color-light-gray;
  }
}
