.hide {
  display: none;
  overflow: hidden;
}

.label {
  font-size: 0.9rem;
  margin-right: 0.25rem;
}

.input_block {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.message {
  padding: 0.25rem 0;
  font-size: 0.8rem;
  color: red;
}

.footer {
  display: block;
}
