@import "../../../scss/variables";
@import "../../../scss/mixin";

.container {
  min-width: 13rem;
  max-width: 13rem;
}

.container_padding {
  padding: 1rem;
}

.category_list_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 100%;
  height: 3rem;
  max-height: 3rem;
  font-size: 1rem;
}
.list_title {
  display: flex;
  align-items: center;
}

.category_title {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0.25rem;
}

.category_list {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0;
  list-style: none;
}

.category_item {
  display: flex;
  align-items: center;
  min-height: 1.75rem;
  padding-left: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid $primary-default-border;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 0.95rem;
  word-break: break-all;
  color: $font-color-gray;
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  &:hover {
    color: $font-color-gray;
    background-color: $primary-default-btn-background;
  }
  &.active {
    margin-left: 1.25rem;
    background-color: $primary-default-btn-background;
  }
}

@include mobile {
  .container {
    position: fixed;
    top: 3rem;
    z-index: 4;
    min-width: 100vw;
    max-width: 100vw;
    height: 0;
    overflow: hidden;
    border-bottom: $primary-default-border;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: $card-box-shadow-bottom;
    background-color: white;
    transition: height 0.3s ease;
  }
  .container_padding {
    padding: 0.25rem 1rem;
  }
  .container_show {
    display: block;
    height: 100vh;
    max-height: 100vh;
  }
  .category_list_title_container {
    max-height: 20vh;
    border-bottom: 1px solid $primary-default;
  }
  .category_list_title {
    padding-bottom: 0;
    color: $primary-default-dark;
    height: 10vh;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .category_title {
    font-size: 1.15rem;
    font-weight: 700;
  }
  .category_list {
    height: 100%;
    min-height: 20vh;
    max-height: 70vh;
    overflow: auto;
  }
  .category_item {
    &:hover {
      background-color: white;
    }
    &.active {
      margin-left: 2rem;
    }
  }
}
